<main class="home-page">
    <!--=================== Small Banner Section ===================-->
    <section class="banner-small paira-margin-bottom-2">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-xs-12 col-sm-4">
                    <div class="banner-small-back">
                        <img src="assets/images/icon.png" alt="" class="img-responsive pull-left">
                        <h4 class="margin-clear text-capitalize margin-bottom-5"><a href="index.html#">Free shipping</a></h4>
                        <p class="margin-bottom-0 margin-top-5">Verum tamen cum de rebus grand</p>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 col-sm-4">
                    <div class="banner-small-back">
                        <img src="assets/images/icon-2.png" alt="" class="img-responsive pull-left">
                        <h4 class="margin-clear text-capitalize margin-bottom-5"><a href="index.html#">Free Frame</a></h4>
                        <p class="margin-bottom-0 margin-top-5">Verum tamen cum de rebus grand</p>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 col-sm-4">
                    <div class="banner-small-back last">
                        <img src="assets/images/icon-3.png" alt="" class="img-responsive pull-left">
                        <h4 class="margin-clear text-capitalize margin-bottom-5"><a href="index.html#">M.B Guarantee</a></h4>
                        <p class="margin-bottom-0 margin-top-5">Verum tamen cum de rebus grand</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=================== latest Collection Section ===================-->
    <section class="latest-collection paira-margin-bottom-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 heading-title">
                    <h2 class="text-capitalize margin-clear"><span>Our Latest Collection</span></h2>
                </div>
                <div class="product-widget text-center">
                    <div class="col-sm-8 col-md-8 col-xs-12 margin-top-30">
                        <div class="product text-center">
                            <div class="product-image position-r">
                                <a href="index.html#">
                                    <div class="background-overlay"></div>
                                    <img src="assets/images/product/product-1.jpg" alt="" class="img-responsive">
                                </a>
                            </div>
                            <div class="product-hover">
                                <h2 class="margin-clear">20 items</h2>
                                <a href="collection.html" class="margin-top-10">- Shop The Collection -</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-xs-12 margin-top-30">
                        <div class="product text-center">
                            <div class="product-image position-r">
                                <a href="index.html#">
                                    <div class="background-overlay"></div>
                                    <img src="assets/images/product/product-2.jpg" alt="" class="img-responsive">
                                </a>
                            </div>
                            <div class="product-hover">
                                <h2 class="margin-clear">20 items</h2>
                                <a href="collection.html" class="margin-top-10">- Shop The Collection -</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-xs-12 margin-top-30">
                        <div class="product text-center">
                            <div class="product-image position-r">
                                <a href="index.html#">
                                    <div class="background-overlay"></div>
                                    <img src="assets/images/product/product-3.jpg" alt="" class="img-responsive">
                                </a>
                            </div>
                            <div class="product-hover">
                                <h2 class="margin-clear">20 items</h2>
                                <a href="collection.html" class="margin-top-10">- Shop The Collection -</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8 col-md-8 col-xs-12 margin-top-30">
                        <div class="product text-center">
                            <div class="product-image position-r">
                                <a href="index.html#">
                                    <div class="background-overlay"></div>
                                    <img src="assets/images/product/product-4.jpg" alt="" class="img-responsive">
                                </a>
                            </div>
                            <div class="product-hover">
                                <h2 class="margin-clear">20 items</h2>
                                <a href="collection.html" class="margin-top-10">- Shop The Collection -</a>
                            </div>
                        </div>
                    </div>
                    <a href="collection.html" class="btn-primary btn btn-lg margin-top-30">See More Collection</a>
                </div>
            </div>
        </div>
    </section>
    <!--=================== latest Picture Section ===================-->
    <section class="latest-picture paira-margin-bottom-2">
        <div class="picture-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 heading-title">
                        <h2 class="text-capitalize margin-clear pull-left"><span>Our Latest Pictures</span></h2>
                        <a href="collection.html" class="text-uppercase pull-right margin-top-10">View All</a>
                    </div>
                    <div class="col-sm-4 col-md-4 col-xs-12 margin-top-30">
                        <div class="product text-center">
                            <div class="product-image position-r">
                                <a href="index.html#">
                                    <div class="background-overlay"></div>
                                    <img src="assets/images/product/product-5.jpg" alt="" class="img-responsive">
                                </a>
                            </div>
                            <div class="product-hover">
                                <h4 class="margin-clear"><a href="collection.html">Looking big eyes look</a></h4>
                                <div class="text-center prices">
                                    <h3 class="pull-left margin-right-5 del"><del><span class="money">$170.00</span></del></h3>
                                    <h3 class="pull-left margin-left-5"><span class="money">$120.00</span></h3>
                                </div>
                                <div class="paira-wish-compare-con wish-compare-view-cart">
                                    <a href="index.html#" class="product-cart-con btn btn-success"><i class="fa fa-shopping-cart"></i></a>
                                    <a href="index.html#paira-quick-view" class="paira-quick-view quick-view  btn btn-default"><i class="fa fa-search-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-xs-12 margin-top-30">
                        <div class="product text-center">
                            <div class="product-image position-r">
                                <a href="index.html#">
                                    <div class="background-overlay"></div>
                                    <img src="assets/images/product/product-6.jpg" alt="" class="img-responsive">
                                </a>
                            </div>
                            <div class="product-sale"><span>Sale</span></div>
                            <div class="product-stock-out"><span>Sold</span></div>
                            <div class="product-hover">
                                <h4 class="margin-clear"><a href="collection.html">Looking big eyes look</a></h4>
                                <div class="text-center prices">
                                    <h3 class="pull-left margin-right-5 del"><del><span class="money">$170.00</span></del></h3>
                                    <h3 class="pull-left margin-left-5"><span class="money">$120.00</span></h3>
                                </div>
                                <div class="paira-wish-compare-con wish-compare-view-cart">
                                    <a href="index.html#" class="product-cart-con btn btn-success"><i class="fa fa-shopping-cart"></i></a>
                                    <a href="index.html#paira-quick-view" class="paira-quick-view quick-view  btn btn-default"><i class="fa fa-search-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-xs-12 margin-top-30">
                        <div class="product text-center">
                            <div class="product-image position-r">
                                <a href="index.html#">
                                    <div class="background-overlay"></div>
                                    <img src="assets/images/product/product-7.jpg" alt="" class="img-responsive">
                                </a>
                            </div>
                            <div class="product-hover">
                                <h4 class="margin-clear"><a href="collection.html">Looking big eyes look</a></h4>
                                <div class="text-center prices">
                                    <h3 class="pull-left margin-right-5 del"><del><span class="money">$170.00</span></del></h3>
                                    <h3 class="pull-left margin-left-5"><span class="money">$120.00</span></h3>
                                </div>
                                <div class="paira-wish-compare-con wish-compare-view-cart">
                                    <a href="index.html#" class="product-cart-con btn btn-success"><i class="fa fa-shopping-cart"></i></a>
                                    <a href="index.html#paira-quick-view" class="paira-quick-view quick-view  btn btn-default"><i class="fa fa-search-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-container"></div>
        </div>
    </section>
    <!--=================== latest Collection Section ===================-->
    <section class="latest-blog paira-margin-bottom-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 heading-title">
                    <h2 class="text-capitalize margin-clear pull-left"><span>Our Latest Blog</span></h2>
                    <a href="blog.html" class="text-uppercase pull-right margin-top-10">View All</a>
                </div>
                <div class="col-md-4 col-xs-12 col-sm-6 margin-top-30">
                    <div class="blog">
                        <div class="blog-image position-r">
                            <a href="index.html#">
                                <div class="background-overlay"></div>
                                <img src="assets/images/blog/blog-7.jpg" alt="" class="img-responsive">
                            </a>
                        </div>
                        <div class="blog-hover">
                            <a href="article.html" class="margin-top-10">- See The blog -</a>
                        </div>
                        <div class="margin-top-15 text-left">
                            <p class="margin-bottom-5">March 05, 2016</p>
                            <h4 class="margin-top-0 margin-bottom-10"><a href="article.html">Our paintis unique for all</a></h4>
                            <a href="blog.html" class="text-uppercase read-more">Read More<i class="fa fa-long-arrow-right margin-left-5"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 col-sm-6 margin-top-30">
                    <div class="blog">
                        <div class="blog-image position-r">
                            <a href="index.html#">
                                <div class="background-overlay"></div>
                                <img src="assets/images/blog/blog-8.jpg" alt="" class="img-responsive">
                            </a>
                        </div>
                        <div class="blog-hover">
                            <a href="article.html" class="margin-top-10">- See The blog -</a>
                        </div>
                        <div class="margin-top-15 text-left">
                            <p class="margin-bottom-5">March 05, 2016</p>
                            <h4 class="margin-top-0 margin-bottom-10"><a href="article.html">Our paintis unique for all</a></h4>
                            <a href="blog.html" class="text-uppercase read-more">Read More<i class="fa fa-long-arrow-right margin-left-5"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 col-sm-6 margin-top-30">
                    <div class="blog">
                        <div class="blog-image position-r">
                            <a href="index.html#">
                                <div class="background-overlay"></div>
                                <img src="assets/images/blog/blog-9.jpg" alt="" class="img-responsive">
                            </a>
                        </div>
                        <div class="blog-hover">
                            <a href="article.html" class="margin-top-10">- See The blog -</a>
                        </div>
                        <div class="margin-top-15 text-left">
                            <p class="margin-bottom-5">March 05, 2016</p>
                            <h4 class="margin-top-0 margin-bottom-10"><a href="article.html">Our paintis unique for all</a></h4>
                            <a href="blog.html" class="text-uppercase read-more">Read More<i class="fa fa-long-arrow-right margin-left-5"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=================== Gallery Section ===================-->
    <section class="gallery paira-margin-bottom-2">
        <div class="gallery-background margin-top-30">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 heading-title">
                        <h2 class="text-capitalize margin-clear"><span>Instragram Gallery</span></h2>
                    </div>
                    <div class="col-md-3 col-xs-6 col-sm-6 margin-top-30">
                        <div class="instragram-desc text-left">
                            <h4 class="margin-top-0 margin-bottom-10">ThemeTidy</h4>
                            <a href="index.html#" class="margin-bottom-10"> forpreview</a>
                            <p class="margin-bottom-15">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.</p>
                            <button class="btn btn-primary btn-lg"><i class="fa fa-instagram margin-right-5"></i>Follow us</button>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6 col-sm-6 margin-top-30">
                        <div class="instragram">
                            <div class="instragram-image position-r">
                                <a href="index.html#">
                                    <div class="background-overlay"></div>
                                    <img src="assets/images/banner/banner-small-3.jpg" alt="" class="img-responsive">
                                </a>
                            </div>
                            <div class="instragram-hover">
                                <a href="collection.html" class="margin-top-10">- See Gallery -</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6 col-sm-6 margin-top-30">
                        <div class="instragram">
                            <div class="instragram-image position-r">
                                <a href="index.html#">
                                    <div class="background-overlay"></div>
                                    <img src="assets/images/banner/banner-small-2.jpg" alt="" class="img-responsive">
                                </a>
                            </div>
                            <div class="instragram-hover">
                                <a href="collection.html" class="margin-top-10">- See Gallery -</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6 col-sm-6 margin-top-30">
                        <div class="instragram">
                            <div class="instragram-image position-r">
                                <a href="index.html#">
                                    <div class="background-overlay"></div>
                                    <img src="assets/images/banner/banner-small-1.jpg" alt="" class="img-responsive">
                                </a>
                            </div>
                            <div class="instragram-hover">
                                <a href="collection.html" class="margin-top-10">- See Gallery -</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=================== Banner Section ===================-->
    <section class="banner paira-margin-bottom-2">
        <div class="container">
            <div class="row">
                <div class="product-widget text-center">
                    <div class="col-sm-8 col-md-6 col-xs-12 overs padding-right-0">
                        <div class="banners text-center">
                            <div class="banner-img position-r">
                                <a href="index.html#">
                                    <div class="background-overlay"></div>
                                    <img src="assets/images/banner/banner-small-4.jpg" alt="" class="img-responsive">
                                </a>
                            </div>
                            <div class="banner-hover">
                                <a href="collection.html" class="margin-top-10">- Shop Now -</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-6 col-xs-12 padding-left-0 banner-blank">
                        <div class="banner-desc text-center">
                            <h3 class="margin-clear">Abstract Print</h3>
                            <p class="margin-top-10 margin-bottom-20">A clean and modern take on abstract prints design take on abstract prints desig take on abstract prints design</p>
                            <a class="btn btn-success btn-lg">Shop Now</a>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-6 col-xs-12 padding-right-0 banner-blank">
                        <div class="banner-desc text-center">
                            <h3 class="margin-clear">Illustrated Paints</h3>
                            <p class="margin-top-10 margin-bottom-20">A clean and modern take on abstract prints design take on abstract prints desig take on abstract prints design</p>
                            <a class="btn btn-success btn-lg">Shop Now</a>
                        </div>
                    </div>
                    <div class="col-sm-8 col-md-6 col-xs-12 overs padding-left-0">
                        <div class="banners text-center">
                            <div class="banner-img position-r">
                                <a href="index.html#">
                                    <div class="background-overlay"></div>
                                    <img src="assets/images/banner/banner-small-5.jpg" alt="" class="img-responsive">
                                </a>
                            </div>
                            <div class="banner-hover">
                                <a href="collection.html" class="margin-top-10">- Shop Now -</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>